<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>شبکه اجتماعی وینکو   </title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="css/strip.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="css/RTL.css">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	
	<div class="responsive-header">
		<div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
				<a href="newsfeed.html" title=""><img src="images/logo2.png" alt=""></a>
			</span>
			<span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
		</div>
		<div class="mh-head second">
			<form class="mh-form">
				<input placeholder="دنبال چی میگردی  ... ؟!" />
				<a href="#/" class="fa fa-search"></a>
			</form>
		</div>
		<nav id="menu" class="res-menu">
			<ul>
				<li><span>صفحه اصلی </span>
					<ul>
						<li><a href="index-2.html" title="">صفحه اصلی اجتماعی </a></li>
						<li><a href="index2.html" title="">صفحه اصلی اجتماعی 2 </a></li>
						<li><a href="index-company.html" title="">صفحه اصلی شرکت</a></li>
						<li><a href="landing.html" title="">ورود</a></li>
						<li><a href="logout.html" title="">خروج</a></li>
						<li><a href="newsfeed.html" title="">فیدهای خبری</a></li>
					</ul>
				</li>
				<li><span>تایم لاین</span>
					<ul>
						<li><a href="time-line.html" title="">تایم لاین</a></li>
						<li><a href="timeline-friends.html" title="">تایم لاین دوستان</a></li>
						<li><a href="timeline-groups.html" title="">تایم لاین گروه ها</a></li>
						<li><a href="timeline-pages.html" title="">تایم لاین صفحات</a></li>
						<li><a href="timeline-photos.html" title="">تایم لاین تصاویر </a></li>
						<li><a href="timeline-videos.html" title="">تایم لاین فیلم ها </a></li>
						<li><a href="fav-page.html" title="">علاقه مندی ها </a></li>
						<li><a href="groups.html" title="">گروه ها </a></li>
						<li><a href="page-likers.html" title="">لایک </a></li>
						<li><a href="people-nearby.html" title="">افراد نزدیک </a></li>
						
						
					</ul>
				</li>
				<li><span>نتظیمات حساب</span>
					<ul>
						<li><a href="create-fav-page.html" title="">ایجاد صفحه علاقه مندی ها</a></li>
						<li><a href="edit-account-setting.html" title="">ویرایش حساب کاربری</a></li>
						<li><a href="edit-interest.html" title="">ویرایش علاقه مندی</a></li>
						<li><a href="edit-password.html" title="">ویرایش رمز عبور</a></li>
						<li><a href="edit-profile-basic.html" title="">ویرایش پروفایل اصلی</a></li>
						<li><a href="edit-work-eductation.html" title="">ویرایش  تحصیلات و شغل </a></li>
						<li><a href="messages.html" title="">پیام ها</a></li>
						<li><a href="inbox.html" title="">صندوق ورودی</a></li>
						<li><a href="notifications.html" title="">اعلان ها </a></li>
					</ul>
				</li>
				<li><span> انجمن </span>
					<ul>
						<li><a href="forum.html" title=""> انجمن </a></li>
						<li><a href="forums-category.html" title=""> دسته بندی  انجمن </a></li>
						<li><a href="forum-open-topic.html" title=""> انجمن با تاپیک آزاد </a></li>
						<li><a href="forum-create-topic.html" title="">ایجاد تاپیک جدید </a></li>
					</ul>
				</li>
				<li><span> فروشگاه </span>
					<ul>
						<li><a href="shop.html" title=""> خرید محصولات </a></li>
						<li><a href="shop-masonry.html" title=""> محصول با مدل ماسونری </a></li>
						<li><a href="shop-single.html" title=""> صفحه اطلاعات محصول</a></li>
						<li><a href="shop-cart.html" title=""> سبد خرید </a></li>
						<li><a href="shop-checkout.html" title=""> صورت حساب </a></li>
					</ul>
				</li>
				<li><span> وبلاگ </span>
					<ul>
						<li><a href="blog-grid-wo-sidebar.html" title=""> وبلاگ </a></li>
						<li><a href="blog-grid-right-sidebar.html" title=""> وبلاگ با سایدبار راست </a></li>
						<li><a href="blog-grid-left-sidebar.html" title=""> وبلاگ با سایدبار چپ</a></li>
						<li><a href="blog-masonry.html" title=""> وبلاگ با مدل ماسونری </a></li>
						<li><a href="blog-list-wo-sidebar.html" title=""> وبلاگ با مدل لیست</a></li>
						<li><a href="blog-list-right-sidebar.html" title=""> وبلاگ  لیستی با سایدبار راست </a></li>
						<li><a href="blog-list-left-sidebar.html" title=""> وبلاگ  لیستی با سایدبار چپ</a></li>
						<li><a href="blog-detail.html" title="">جزئیات وبلاگ</a></li>
					</ul>
				</li>
				<li><span> نمونه کارها </span>
					<ul>
						<li><a href="portfolio-2colm.html" title=""> نمونه کار 2 ستونه</a></li>
						<li><a href="portfolio-3colm.html" title=""> نمونه کار 3 ستونه</a></li>
						<li><a href="portfolio-4colm.html" title=""> نمونه کار 4 ستونه</a></li>
					</ul>
				</li>
				<li><span> پشتیبانی و راهنمایی </span>
					<ul>
						<li><a href="support-and-help.html" title=""> پشتیبانی و راهنمایی </a></li>
						<li><a href="support-and-help-detail.html" title=""> جزئیات پشتیبانی  </a></li>
						<li><a href="support-and-help-search-result.html" title=""> صفحه راهنما</a></li>
					</ul>
				</li>
				<li><span> صفحات بیشتر </span>
					<ul>
						<li><a href="careers.html" title=""> مشاغل </a></li>
						<li><a href="career-detail.html" title=""> جزئیات شغل </a></li>
						<li><a href="404.html" title=""> صفحه خطا 404 </a></li>
						<li><a href="404-2.html" title="">404 استایل 2 صفحه </a></li>
						<li><a href="faq.html" title="">سوالات متداول </a></li>
						<li><a href="insights.html" title=""> آمار و ارقام</a></li>
						<li><a href="knowledge-base.html" title=""> پایگاه اطلاعات</a></li>
					</ul>
				</li>
				<li><a href="about.html" title=""> درباره ما</a></li>
				<li><a href="about-company.html" title=""> درباره ما 2</a></li>
				<li><a href="contact.html" title=""> تماس با ما</a></li>
				<li><a href="contact-branches.html" title="">تماس با ما 2 </a></li>
				<li><a href="widgets.html" title=""> ویجت ها </a></li>
			</ul>
		</nav>
		<nav id="shoppingbag">
			<div>
				<div class="">
					<form method="post">
						<div class="setting-row">
							<span> استفاده از حالت شب</span>
							<input type="checkbox" id="nightmode"/> 
							<label for="nightmode" data-on-label="بله" data-off-label="خیر"></label>
						</div>
						<div class="setting-row">
							<span> اعلان ها</span>
							<input type="checkbox" id="switch2"/> 
							<label for="switch2" data-on-label="بله" data-off-label="خیر"></label>
						</div>
						<div class="setting-row">
							<span> صدای اعلان ها</span>
							<input type="checkbox" id="switch3"/> 
							<label for="switch3" data-on-label="بله" data-off-label="خیر"></label>
						</div>
						<div class="setting-row">
							<span> پروفایل من</span>
							<input type="checkbox" id="switch4"/> 
							<label for="switch4" data-on-label="بله" data-off-label="خیر"></label>
						</div>
						<div class="setting-row">
							<span> نمایش پروفایل</span>
							<input type="checkbox" id="switch5"/> 
							<label for="switch5" data-on-label="بله" data-off-label="خیر"></label>
						</div>
					</form>
					<h4 class="panel-title">نتظیمات حساب</h4>
					<form method="post">
						<div class="setting-row">
							<span>زیر مجموعه</span>
							<input type="checkbox" id="switch6" /> 
							<label for="switch6" data-on-label="بله" data-off-label="خیر"></label>
						</div>
						<div class="setting-row">
							<span>حساب شخصی</span>
							<input type="checkbox" id="switch7" /> 
							<label for="switch7" data-on-label="بله" data-off-label="خیر"></label>
						</div>
						<div class="setting-row">
							<span>حساب تجاری</span>
							<input type="checkbox" id="switch8" /> 
							<label for="switch8" data-on-label="بله" data-off-label="خیر"></label>
						</div>
						<div class="setting-row">
							<span>نمایش افراد انلاین</span>
							<input type="checkbox" id="switch9" /> 
							<label for="switch9" data-on-label="بله" data-off-label="خیر"></label>
						</div>
						<div class="setting-row">
							<span>حذف تاریخچه</span>
							<input type="checkbox" id="switch10" /> 
							<label for="switch10" data-on-label="بله" data-off-label="خیر"></label>
						</div>
						<div class="setting-row">
							<span>نمایش نام نویسنده</span>
							<input type="checkbox" id="switch11" /> 
							<label for="switch11" data-on-label="بله" data-off-label="خیر"></label>
						</div>
					</form>
				</div>
			</div>
		</nav>
	</div><!-- responsive header -->
	
	<div class="topbar transparent">
		<div class="logo">
			<a title="" href="newsfeed.html"><img src="images/logo2.png" alt=""></a>
		</div>
		<div class="menu-container" id="toggle">
		  <a href="#" class="canvas-menu" >
			<i class="fa fa-times fa-bars" aria-hidden="true"></i></a>
		</div>
		<div class="overlay" id="overlay">
		  <nav class="overlay-menu">
			<ul class="offcanvas-menu">
				<li class="menu-item-has-children">
					<a href="#" title="">صفحه اصلی </a>
					<ul>
						<li><a href="index-2.html" title="">صفحه اصلی اجتماعی </a></li>
						<li><a href="index2.html" title="">صفحه اصلی اجتماعی 2 </a></li>
						<li><a href="index-company.html" title="">صفحه اصلی شرکت</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<a href="#" title=""> وبلاگ </a>
					<ul>
						<li><a href="blog-grid-wo-sidebar.html" title=""> وبلاگ </a></li>
						<li><a href="blog-grid-right-sidebar.html" title=""> وبلاگ با سایدبار راست </a></li>
						<li><a href="blog-grid-left-sidebar.html" title=""> وبلاگ با سایدبار چپ</a></li>
						<li><a href="blog-masonry.html" title=""> وبلاگ با مدل ماسونری </a></li>
						<li><a href="blog-list-wo-sidebar.html" title=""> وبلاگ با مدل لیست</a></li>
						<li><a href="blog-list-right-sidebar.html" title=""> وبلاگ  لیستی با سایدبار راست </a></li>
						<li><a href="blog-list-left-sidebar.html" title=""> وبلاگ  لیستی با سایدبار چپ</a></li>
						<li><a href="blog-detail.html" title="">جزئیات وبلاگ</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<a href="#" title="">فروشگاه</a>
					<ul>
						<li><a href="shop.html" title=""> خرید محصولات </a></li>
						<li><a href="shop-masonry.html" title=""> محصول با مدل ماسونری </a></li>
						<li><a href="shop-single.html" title=""> صفحه اطلاعات محصول</a></li>
						<li><a href="shop-cart.html" title=""> سبد خرید </a></li>
						<li><a href="shop-checkout.html" title=""> صورت حساب </a></li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<a href="#" title=""> نمونه کارها  </a>
					<ul>
						<li><a href="portfolio-2colm.html" title=""> نمونه کار 2 ستونه</a></li>
						<li><a href="portfolio-3colm.html" title=""> نمونه کار 3 ستونه</a></li>
						<li><a href="portfolio-4colm.html" title=""> نمونه کار 4 ستونه</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<a href="#" title=""> پشتیبانی و راهنمایی </a>
					<ul>
						<li><a href="support-and-help.html" title=""> پشتیبانی و راهنمایی </a></li>
						<li><a href="support-and-help-detail.html" title=""> جزئیات پشتیبانی  </a></li>
						<li><a href="support-and-help-search-result.html" title=""> صفحه راهنما</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<a href="#" title=""> انجمن شرکت </a>
					<ul>
						<li><a href="forum.html" title=""> انجمن </a></li>
						<li><a href="forums-category.html" title=""> دسته بندی  انجمن </a></li>
						<li><a href="forum-open-topic.html" title=""> انجمن با تاپیک آزاد </a></li>
						<li><a href="forum-create-topic.html" title="">ایجاد تاپیک جدید </a></li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<a href="#" title=""> صفحات ویژه </a>
					<ul>
						<li><a href="careers.html" title=""> مشاغل </a></li>
						<li><a href="career-detail.html" title=""> جزئیات شغل </a></li>
						<li><a href="logout.html" title="">خروج</a></li>
						<li><a href="404-2.html" title="">  صفحه خطای 404</a></li>
						<li><a href="about-company.html" title=""> درباره ما </a></li>
						<li><a href="contact-branches.html" title=""> تماس با ما </a></li>
					</ul>
				</li>
				
			</ul>
		  </nav>
		</div>
	</div><!-- topbar transparent header -->
		
	<section>
		<div class="ext-gap bluesh high-opacity">
			<div class="content-bg-wrap" style="background: url(images/resources/animated-bg2.png)"></div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="top-banner">
							<h1>وبلاگ مدل ماسونری</h1>
							<nav class="breadcrumb">
							  <a class="breadcrumb-item" href="index-2.html">صفحه اصلی </a>
							  <span class="breadcrumb-item active">وبلاگ  </span>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area animated -->
	
	<section>
		<div class="gap gray-bg">
			<div class="container">
				<div class="row" id="page-contents">
					<div class=" col-lg-12">
						<div class="blog-sec">
							<div class="post-filter-sec">
								<form method="post" class="filter-form">
									<input type="post" placeholder = "جستجوی پست">
									<button><i class="ti-search"></i></button>
								</form>
								<div class="purify">
									<span> فیلتر بر اساس </span>
									<select>
										<option> همه دسته ها </option>
										<option> موارد دلخواه </option>
										<option>لایک ها </option>
									</select>
									<select>
										<option> صعودی الف-ی </option>
										<option> نزولی ی-الف</option>
										<option>نزولی (تاریخ)</option>
										<option>صعودی (تاریخ)</option>
									</select>
									<a href="#" title="">جدا کردن</a>
								</div>
							</div>
							<div class="row masonry">
								<div class="col-lg-4 col-sm-6">
									<div class="g-post-classic">
										<figure>
											<img alt="" src="images/resources/bloggrid-1.jpg">
											<i class="fa fa-video-camera"></i>
										</figure>
										<div class="g-post-meta">
											<div class="post-title">
												<h4><a title="" href="#">هشت باور غلط درباره‌ی سلامت روان و حقایقی که باید بدانید</a></h4>
												<p> ما عکسهای فوق العاده ای برای کاتالوگ جدید گرفتیم ، در اینجا عکسی از عکاسی ماه گذاشته شده. </p>
												<span class="p-date">  توسط  <a href="#" title="">محسن محمدی</a> - 12 ساعت قبل </span>
											</div>	
											<div class="g-post-ranking">
												<a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 لایک</a>
												<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i> 5 نظر </a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-6">
									<div class="g-post-classic">
										<figure>
											<img alt="" src="images/resources/bloggrid-mas-1.jpg">
											<i class="fa fa-soundcloud"></i>
										</figure>
										<div class="g-post-meta">
											<div class="post-title">
												<h4><a title="" href="#">هشت باور غلط درباره‌ی سلامت روان و حقایقی که باید بدانید</a></h4>
												<p> ما عکسهای فوق العاده ای برای کاتالوگ جدید گرفتیم ، در اینجا عکسی از عکاسی ماه گذاشته شده. </p>
												<span class="p-date">  توسط  <a href="#" title="">محسن محمدی</a> - 12-تیر -1400</span>
											</div>	
											<div class="g-post-ranking">
												<a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 لایک</a>
												<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i> 5 نظر </a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-6">
									<div class="g-post-classic">
										<figure>
											<img alt="" src="images/resources/bloggrid-3.jpg">
											<i class="fa fa-image"></i>
										</figure>
										<div class="g-post-meta">
											<div class="post-title">
												<h4><a title="" href="#">هشت باور غلط درباره‌ی سلامت روان و حقایقی که باید بدانید</a></h4>
												<p> ما عکسهای فوق العاده ای برای کاتالوگ جدید گرفتیم ، در اینجا عکسی از عکاسی ماه گذاشته شده. </p>
												<span class="p-date">  توسط  <a href="#" title="">محسن محمدی</a> - 2 روز پیش </span>
											</div>	
											<div class="g-post-ranking">
												<a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 لایک</a>
												<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i> 5 نظر </a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-6">
									<div class="g-post-classic">
										<figure>
											<img alt="" src="images/resources/bloggrid-4.jpg">
											<i class="fa fa-video-camera"></i>
										</figure>
										<div class="g-post-meta">
											<div class="post-title">
												<h4><a title="" href="#">هشت باور غلط درباره‌ی سلامت روان و حقایقی که باید بدانید</a></h4>
												<p> ما عکسهای فوق العاده ای برای کاتالوگ جدید گرفتیم ، در اینجا عکسی از عکاسی ماه گذاشته شده. </p>
												<span class="p-date">  توسط  <a href="#" title="">محسن محمدی</a> - 12 ساعت قبل </span>
											</div>	
											<div class="g-post-ranking">
												<a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 لایک</a>
												<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i> 5 نظر </a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-6">
									<div class="g-post-classic">
										<figure>
											<img alt="" src="images/resources/bloggrid-mas-2.jpg">
											<i class="fa fa-soundcloud"></i>
										</figure>
										<div class="g-post-meta">
											<div class="post-title">
												<h4><a title="" href="#">هشت باور غلط درباره‌ی سلامت روان و حقایقی که باید بدانید</a></h4>
												<p> ما عکسهای فوق العاده ای برای کاتالوگ جدید گرفتیم ، در اینجا عکسی از عکاسی ماه گذاشته شده. </p>
												<span class="p-date">  توسط  <a href="#" title="">محسن محمدی</a> - 12-تیر -1400</span>
											</div>	
											<div class="g-post-ranking">
												<a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 لایک</a>
												<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i> 5 نظر </a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-6">
									<div class="g-post-classic">
										<figure>
											<img alt="" src="images/resources/bloggrid-6.jpg">
											<i class="fa fa-image"></i>
										</figure>
										<div class="g-post-meta">
											<div class="post-title">
												<h4><a title="" href="#">هشت باور غلط درباره‌ی سلامت روان و حقایقی که باید بدانید</a></h4>
												<p> ما عکسهای فوق العاده ای برای کاتالوگ جدید گرفتیم ، در اینجا عکسی از عکاسی ماه گذاشته شده. </p>
												<span class="p-date">  توسط  <a href="#" title="">محسن محمدی</a> - 2 روز پیش </span>
											</div>	
											<div class="g-post-ranking">
												<a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 لایک</a>
												<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i> 5 نظر </a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-6">
									<div class="g-post-classic">
										<figure>
											<img alt="" src="images/resources/bloggrid-mas-3.jpg">
											<i class="fa fa-image"></i>
										</figure>
										<div class="g-post-meta">
											<div class="post-title">
												<h4><a title="" href="#">هشت باور غلط درباره‌ی سلامت روان و حقایقی که باید بدانید</a></h4>
												<p> ما عکسهای فوق العاده ای برای کاتالوگ جدید گرفتیم ، در اینجا عکسی از عکاسی ماه گذاشته شده. </p>
												<span class="p-date">  توسط  <a href="#" title="">محسن محمدی</a> - 2 روز پیش </span>
											</div>	
											<div class="g-post-ranking">
												<a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 لایک</a>
												<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i> 5 نظر </a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-6">
									<div class="g-post-classic">
										<figure>
											<img alt="" src="images/resources/bloggrid-5.jpg">
											<i class="fa fa-image"></i>
										</figure>
										<div class="g-post-meta">
											<div class="post-title">
												<h4><a title="" href="#">هشت باور غلط درباره‌ی سلامت روان و حقایقی که باید بدانید</a></h4>
												<p> ما عکسهای فوق العاده ای برای کاتالوگ جدید گرفتیم ، در اینجا عکسی از عکاسی ماه گذاشته شده. </p>
												<span class="p-date">  توسط  <a href="#" title="">محسن محمدی</a> - 2 روز پیش </span>
											</div>	
											<div class="g-post-ranking">
												<a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 لایک</a>
												<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i> 5 نظر </a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-6">
									<div class="g-post-classic">
										<figure>
											<img alt="" src="images/resources/bloggrid-2.jpg">
											<i class="fa fa-soundcloud"></i>
										</figure>
										<div class="g-post-meta">
											<div class="post-title">
												<h4><a title="" href="#">هشت باور غلط درباره‌ی سلامت روان و حقایقی که باید بدانید</a></h4>
												<p> ما عکسهای فوق العاده ای برای کاتالوگ جدید گرفتیم ، در اینجا عکسی از عکاسی ماه گذاشته شده. </p>
												<span class="p-date">  توسط  <a href="#" title="">محسن محمدی</a> - 12-تیر -1400</span>
											</div>	
											<div class="g-post-ranking">
												<a title="" href="#" class="likes"><i class="fa fa-heart-o"></i>10 لایک</a>
												<a title="" href="#" class="coments"><i class="fa fa-comment-o"></i> 5 نظر </a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<button class="btn-view btn-load-more"> بارگذاری بیشتر </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section>
		<div class="gap no-gap bluesh high-opacity btm-mockup">
			<div class="content-bg-wrap" style="background: url(images/resources/btm-banner.png)"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="btm-baner">
							<div class="baner-mockup">
								<img src="images/resources/btm-baner-avatar.png" alt="">
							</div>
							<div class="baner-inf">
								<span> دوستان بیشتری می خوای؟ </span>
								<a href="#" title=""> برو بریم </a>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="widget">
					<div class="foot-logo">
						<div class="logo">
							<a href="index-2.html" title=""><img src="images/logo.png" alt=""></a>
						</div>	
						<p>
							این سه نفر یه ایده ساده رو در نظر گرفتن و اون رو به عنوان یه پلتفرم پیشرو توی دنیا تبدیل کردن.
						</p>
					</div>
					<ul class="location">
						<li>
							<i class="ti-map-alt"></i>
							<p>ایران ، تهران ، خیابان بهشتی </p>
						</li>
						<li>
							<i class="ti-mobile"></i>
							<p dir="ltr">+98-21-3443</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-4">
				<div class="widget">
					<div class="widget-title"><h4>دنبالمون کن</h4></div>
					<ul class="list-style">
						<li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/" title=""> فیس بوک </a></li>
						<li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en" title=""> توییتر</a></li>
						<li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en" title=""> اینستاگرام</a></li>
						<li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover" title="">گوگل پلاس</a></li>
						<li><i class="fa fa-pinterest-square"></i> <a href="https://www.pinterest.com/" title="">پینترست</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-4">
				<div class="widget">
					<div class="widget-title"><h4>صفحات سایت </h4></div>
					<ul class="list-style">
						<li><a href="about.html" title=""> درباره ما </a></li>
						<li><a href="contact.html" title=""> تماس با ما </a></li>
						<li><a href="terms.html" title=""> شرایط و ضوابط </a></li>
						<li><a href="#" title=""> پیوند RSS </a></li>
						<li><a href="sitemap.html" title=""> نقشه سایت </a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-4">
				<div class="widget">
					<div class="widget-title"><h4> لینک های مفید </h4></div>
					<ul class="list-style">
						<li><a href="#" title=""> لیزینگ </a></li>
						<li><a href="#" title=""> مسیر ارسال</a></li>
						<li><a href="#" title=""> چطور کار میکنه ؟</a></li>
						<li><a href="#" title=""> لیست نمایندگی ها </a></li>
						<li><a href="#" title=""> دیدن همه </a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-4">
				<div class="widget">
					<div class="widget-title"><h4> دانلود اپلیکیشن </h4></div>
					<ul class="colla-apps">
						<li><a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android"></i> اندروید </a></li>
						<li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple"></i> آیفون</a></li>
						<li><a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-windows"></i>ویندوز</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer><!-- footer -->
	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">حق کپی رایت برای آرزو حسینی محفوظ است</span>
					<i><img src="images/credit-cards.png" alt=""></i>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="side-panel">
			<h4 class="panel-title"> تنظیمات کلی </h4>
			<form method="post">
				<div class="setting-row">
					<span> استفاده از حالت شب</span>
					<input type="checkbox" id="nightmode1"/> 
					<label for="nightmode1" data-on-label="بله" data-off-label="خیر"></label>
				</div>
				<div class="setting-row">
					<span> اعلان ها</span>
					<input type="checkbox" id="switch22" /> 
					<label for="switch22" data-on-label="بله" data-off-label="خیر"></label>
				</div>
				<div class="setting-row">
					<span> صدای اعلان ها</span>
					<input type="checkbox" id="switch33" /> 
					<label for="switch33" data-on-label="بله" data-off-label="خیر"></label>
				</div>
				<div class="setting-row">
					<span> پروفایل من</span>
					<input type="checkbox" id="switch44" /> 
					<label for="switch44" data-on-label="بله" data-off-label="خیر"></label>
				</div>
				<div class="setting-row">
					<span> نمایش پروفایل</span>
					<input type="checkbox" id="switch55" /> 
					<label for="switch55" data-on-label="بله" data-off-label="خیر"></label>
				</div>
			</form>
			<h4 class="panel-title">نتظیمات حساب</h4>
			<form method="post">
				<div class="setting-row">
					<span>زیر مجموعه</span>
					<input type="checkbox" id="switch66" /> 
					<label for="switch66" data-on-label="بله" data-off-label="خیر"></label>
				</div>
				<div class="setting-row">
					<span>حساب شخصی</span>
					<input type="checkbox" id="switch77" /> 
					<label for="switch77" data-on-label="بله" data-off-label="خیر"></label>
				</div>
				<div class="setting-row">
					<span>حساب تجاری</span>
					<input type="checkbox" id="switch88" /> 
					<label for="switch88" data-on-label="بله" data-off-label="خیر"></label>
				</div>
				<div class="setting-row">
					<span>نمایش افراد انلاین</span>
					<input type="checkbox" id="switch99" /> 
					<label for="switch99" data-on-label="بله" data-off-label="خیر"></label>
				</div>
				<div class="setting-row">
					<span>حذف تاریخچه</span>
					<input type="checkbox" id="switch101" /> 
					<label for="switch101" data-on-label="بله" data-off-label="خیر"></label>
				</div>
				<div class="setting-row">
					<span>نمایش نام نویسنده</span>
					<input type="checkbox" id="switch111" /> 
					<label for="switch111" data-on-label="بله" data-off-label="خیر"></label>
				</div>
			</form>
		</div><!-- side panel -->		
	
	<script src="js/main.min.js"></script>
	<script src="js/strip.pkgd.min.js"></script>
	<script src="js/script.js"></script>

</body>	
</html>