<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>شبکه اجتماعی وینکو   </title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="css/RTL.css">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>وینکو</h1>
						<p>
							استفاده از وینکو  برات رایگانه ، تا وقتی که بخوای با دوتا پروژه همزمان کار کنی .
						</p>
						<div class="friend-logo">
							<span><img src="images/wink.png" alt=""></span>
						</div>
						<a href="#" title="" class="folow-me">ما رو دنبال کن</a>
					</div>	
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area sign">
						<h2 class="log-title"> ورود </h2>
							<p>
								هنوز از وینکو استفاده نکردی؟ <a href="#" title="">در این تور شرکت کن</a> یا <a href="#" title=""> الان عضو بشو </a>
							</p>
						<form method="post">
							<div class="form-group">	
							  <input type="text" id="input" required="required"/>
							  <label class="control-label" for="input"> نام کاربری </label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  <input type="password" required="required"/>
							  <label class="control-label" for="input"> رمز عبور  </label><i class="mtrl-select"></i>
							</div>
							<div class="checkbox">
							  <label>
								<input type="checkbox" checked="checked"/><i class="check-box"></i>همیشه منو یادت باشه
							  </label>
							</div>
							<a href="#" title="" class="forgot-pwd"> رمزت رو فراموش کردی ؟ </a>
							<div class="submit-btns">
								<button class="mtr-btn signin" type="button"><span> ورود </span></button>
								<button class="mtr-btn signup" type="button"><span> ثبت نام </span></button>
							</div>
						</form>
					</div>
					<div class="log-reg-area reg">
						<h2 class="log-title"> ثبت نام </h2>
							<p>
								هنوز از وینکو استفاده نکردی؟ <a href="#" title="">در این تور شرکت کن</a> یا <a href="#" title=""> الان عضو بشو </a>
							</p>
						<form method="post">
							<div class="form-group">	
							  <input type="text" required="required"/>
							  <label class="control-label" for="input"> نام و نام خانوادگی </label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  <input type="text" required="required"/>
							  <label class="control-label" for="input"> نام کاربری </label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  <input type="password" required="required"/>
							  <label class="control-label" for="input"> رمز عبور  </label><i class="mtrl-select"></i>
							</div>
							<div class="form-radio">
							  <div class="radio">
								<label>
								  <input type="radio" name="radio" checked="checked"/><i class="check-box"></i>آقا
								</label>
							  </div>
							  <div class="radio">
								<label>
								  <input type="radio" name="radio"/><i class="check-box"></i>خانم
								</label>
							  </div>
							</div>
							<div class="form-group">	
							  <input type="text" required="required"/>
							  <label class="control-label" for="input"><a href="#" >ایمیل شما</a></label><i class="mtrl-select"></i>
							</div>
							<div class="checkbox">
							  <label>
								<input type="checkbox" checked="checked"/><i class="check-box"></i>شرایط  رو قبول میکنی ؟
							  </label>
							</div>
							<a href="#" title="" class="already-have"> در حال حاضر یه حساب داری </a>
							<div class="submit-btns">
								<button class="mtr-btn signup" type="button"><span> ثبت نام </span></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	<script src="js/main.min.js"></script>
	<script src="js/script.js"></script>

</body>	
</html>