<!doctype html>
<html dir="rtl">
<!--<![endif]-->


<head>

<!-- Meta-Information -->
<title>پنل مدیریت شبکه اجتماعی وینکو</title>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Vendor: Bootstrap Stylesheets http://getbootstrap.com -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- Our Website CSS Styles -->
<link rel="stylesheet" href="css/icons.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/main-style.css">
<link rel="stylesheet" href="css/color.css">
<link rel="stylesheet" href="css/responsive.css">
</head>
<body class="menu-active">
<div class="panel-layout">
  <div class="top-bar">
    <div class="logo"> <a href="index-2.html" title=""><img src="images/logo.png" alt=""></a> </div>
    <div class="menu-options"><span class="menu-action"><i></i></span></div>
    <div class="quick-links">
      <ul>
        <li><a title="" class="show-status"><i class="fa fa-cog"></i></a>
          <div class="noti-lst setting">
            <div class="noti-tp"> <span> تنظیم پروفایل</span> </div>
            <ul>
              <li><a href="#" title=""><i class="fa fa-user"></i> پروفایل شما</a></li>
              <li><a href="#" title=""><i class="fa fa-edit"></i>ویرایش  پروفایل </a></li>
              <li><a href="#" title=""><i class="fa fa-question-circle"></i>راهنما</a></li>
              <li><a href="#" title=""><i class="fa fa-sign-out"></i> خروج  </a></li>
            </ul>
          </div>
        </li>
        <li><a title="" id="toolFullScreen" class=""><i class="fa fa-arrows-alt"></i></a></li>
        <li><a title="" class="refresh-page"><i class="fa fa-refresh"></i></a></li>
        <li><a title="" class="right-menu-btn"><i class="fa fa-align-right"></i></a></li>
      </ul>
    </div>
    <form class="search-form">
      <input type="text" placeholder="دنبال چی میگردی ...؟!" />
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <!-- Top Bar -->
  
  <div class="right-menu">
    <div class="admin-area">
      <div class="admin-avatar"> <img src="images/resource/right-menu-admin.jpg" alt=""> </div>
      <div class="admin-info"> <span>خوش اومدی</span>
        <h5>احسان محمدی</h5>
      </div>
    </div>
    <ul class="admin-menu">
      <li><a href="#" title=""><i><img src="images/icon-4.png" alt=""></i>پیشخوان</a></li>
      <li><a href="#" title=""><i><img src="images/icon-5.png" alt=""></i>صفحات</a></li>
      <li><a href="#" title=""><i><img src="images/icon-6.png" alt=""></i> صندوق پستی <span>05</span></a></li>
      <li><a href="#" title=""><i><img src="images/icon-7.png" alt=""></i> فرم  ها</a></li>
      <li><a href="#" title=""><i><img src="images/icon-8.png" alt=""></i> جداول </a></li>
      <li><a href="#" title=""><i><img src="images/icon-9.png" alt=""></i> نقشه ها </a></li>
    </ul>
  </div>
  <!-- right menu -->
  
  <header class="side-header opened-menu">
    <div class="admin-details"> <span><img src="images/resource/admin.jpg" alt="" /></span>
      <h3>پویا امینی</h3>
      <i> فرانت کار</i>
      <h5 class="admin-status online"> آنلاین </h5>
    </div>
    <div class="menu-scroll">
      <div class="side-menus"> <span>لینک های اصلی</span>
        <nav>
          <ul>
            <li><a href="index-2.html" title=""><i class="fa fa-dashboard"></i>پیشخوان</a></li>
            <li><a href="connect.html" title=""><i class="fa fa-bolt"></i> اکانت های اجتماعی</a></li>
            <li><a href="edit-profile.html" title=""><i class="fa fa-flask"></i>ویرایش  پروفایل </a></li>
            <li><a href="inbox.html" title=""><i class="fa fa-flask"></i> صندوق ورودی </a></li>
            <li class="menu-item-has-children"><a href="#" title=""><i class="fa fa-flask"></i> موارد بیشتر </a>
              <ul>
                <li><a href="calendar.html" title=""><i class="fa fa-inbox"></i> تقویم </a></li>
                <li><a href="image-croper-panel.html" title=""><i class="fa fa-inbox"></i> برش تصویر </a></li>
                <li><a href="link-posting-panel.html" title=""><i class="fa fa-inbox"></i> ارسال پست  </a></li>
                <li><a href="notifications.html" title=""><i class="fa fa-inbox"></i> اعلان ها </a></li>
                <li><a href="opener-image-posting-panel.html" title=""><i class="fa fa-inbox"></i>انتخاب تصویر</a></li>
                <li><a href="ticket2.html" title=""><i class="fa fa-inbox"></i> استایل 1 تیکت</a></li>
                <li><a href="ticket3.html" title=""><i class="fa fa-inbox"></i> استایل 2 تیکت</a></li>
                <li><a href="reviews.html" title=""><i class="fa fa-gift"></i> دیدگاه ها</a></li>
              </ul>
            </li>
            <li><a href="location-management.html" title=""><i class="fa fa-inbox"></i> مکان ها </a></li>
            <li><a href="posting-panel-editable.html" title=""><i class="fa fa-hdd-o"></i>پنل پست های قابل ویرایش</a></li>
            <li><a href="post-preview-page.html" title=""><i class="fa fa-glass"></i>  پیش نمایش پست </a></li>
            <li><a href="user-mangement.html" title=""><i class="fa fa-hdd-o"></i> مدیریت کاربر </a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Menu Scroll --> 
  </header>
  <div class="panel-content">
    <div class="row">
      <div class="col-md-12">
        <div class="profile-sec">
          <div class="profile-banner-sec">
            <ul>
              <li>
                <input accept="image/*" type="file" name="file-1[]" id="file-1" class="new-img inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                <label for="file-1"><i class="fa fa-picture-o"></i><span>انتخاب تصویر</span></label>
              </li>
              <li><a href="edit-profile.html" title=""><i class="fa fa-pencil"></i>ویرایش  پروفایل </a></li>
            </ul>
            <img src="images/resource/banner.jpg" alt="" /> </div>
          <div class="user-bar">
            <div class="user-thumb"> <img src="images/resource/admin.jpg" alt="" /> </div>
            <a title="" class="purple-skin"><i class="fa fa-heart-o"></i> دنبال کن</a>
            <ul>
              <li> 1,245 <span> دنبال کننده ها </span> </li>
              <li> 535 <span> پروژه ها </span> </li>
              <li> 994 <span>دنبال شونده ها</span> </li>
            </ul>
            <div class="notif"> <span><img src="images/icon-bell.png" alt=""><i>3</i></span>
              <div class="noti-lst">
                <div class="noti-tp"> <span> اعلان ها </span> </div>
                <div class="noti-bd">
                  <ul>
                    <li class="rd-noti"><a href="#" title=""><strong>علیرضا :</strong></a> پسندیده <a href="#" title=""> با ترفندهایی  </a> <a href="#" title="">به فیدهای فعال استایل راه راه بده</a> <span> 15 دقیقه قبل </span> <i>خوندی </i></li>
                    <li class="unrd-noti"><a href="#" title=""><strong>پوریا :</strong>با یه ترفند کوچولو از دراپ باکس توی وردپرس استفاده کن ! </a> <span> 30 دقیقه قبل </span> <i> نخوندی </i></li>
                    <li class="unrd-noti"><a href="#" title=""><strong>محمد :</strong> به اشتراک گذاشتن  علم بادی پرس  باعث آرامشه! </a> <span> 12 ساعت قبل </span> <i> نخوندی </i></li>
                    <li class="rd-noti"><a href="#" title=""><strong>علیرضا :</strong></a> پسندیده <a href="#" title=""> با ترفندهایی  </a> <a href="#" title="">به فیدهای فعال استایل راه راه بده</a> <span> 15 دقیقه قبل </span> <i>خوندی </i></li>
                  </ul>
                </div>
                <div class="noti-bt"> <a href="#" title=""> دیدن همه اعلان ها </a> </div>
              </div>
            </div>
            <div class="notif"> <span><img src="images/icon-envelop.png" alt=""><i>3</i></span>
              <div class="noti-lst">
                <div class="noti-tp"> <span> اعلان ها </span> </div>
                <div class="noti-bd">
                  <ul>
                    <li class="rd-noti"><a href="#" title=""><strong>علیرضا :</strong></a> پسندیده <a href="#" title=""> با ترفندهایی  </a> <a href="#" title="">به فیدهای فعال استایل راه راه بده</a> <span> 15 دقیقه قبل </span> <i>خوندی </i></li>
                    <li class="unrd-noti"><a href="#" title=""><strong>پوریا :</strong>با یه ترفند کوچولو از دراپ باکس توی وردپرس استفاده کن ! </a> <span> 30 دقیقه قبل </span> <i> نخوندی </i></li>
                    <li class="unrd-noti"><a href="#" title=""><strong>محمد :</strong> به اشتراک گذاشتن  علم بادی پرس  باعث آرامشه! </a> <span> 12 ساعت قبل </span> <i> نخوندی </i></li>
                    <li class="rd-noti"><a href="#" title=""><strong>علیرضا :</strong></a> پسندیده <a href="#" title=""> با ترفندهایی  </a> <a href="#" title="">به فیدهای فعال استایل راه راه بده</a> <span> 15 دقیقه قبل </span> <i>خوندی </i></li>
                  </ul>
                </div>
                <div class="noti-bt"> <a href="#" title=""> دیدن همه اعلان ها </a> </div>
              </div>
            </div>
            <div class="social-btns">
              <ul>
                <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="usr-pnl">
            <div class="pnl-tl">
              <h4> تیکت ها </h4>
            </div>
            <!-- Panel Title -->
            <div class="pnl-bdy">
              <div class="tcktng-lst">
                <div class="tcktng-itm">
                  <h2><a href="#" title="">ایده پردازان</a></h2>
                  <ul class="snd-inf">
                    <li>17:00</li>
                    <li>21 مهر ، 1400</li>
                    <li>صبح</li>
                  </ul>
                  <a href="#" class="cmt-btn"><i class="fa fa-comments"></i> 02 نظر جدید </a>
                  <p>قالب مدیریت وینکیو طراحی جالب و جذابی داره و این فوق العاده ست !</p>
                  <ul class="cmt-mta">
                    <li><i class="fa fa-heart"></i> <a href="#" title="">30  لایک</a></li>
                    <li><i class="fa fa-comment"></i> <a href="#" title=""> 2 نظر </a></li>
                    <li><i class="fa fa-share"></i> <a href="#" title=""> 2 اشتراک گذاری </a></li>
                  </ul>
                  <span class="tgl-icn"><i class="fa fa-chevron-down "></i></span>
                  <ul class="cmt-thrd">
                    <li>
                      <div class="cmt-prs"> <img src="images/resource/cmt2.jpg" alt="" />
                        <div class="cmt-dtl">
                          <h2><a href="#" title=""> رضا رحمانی</a></h2>
                          <span> طراحی زندگی منه ، باهام همراه شو </span>
                          <p> تبریک به تیم وینکو! </p>
                          <ul class="pst-rt">
                            <li><a href="#" title=""><i class="flaticon-smile"></i></a></li>
                            <li><a href="#" title=""><i class="flaticon-meh-face-emoticon"></i></a></li>
                            <li><a href="#" title=""><i class="flaticon-frown"></i></a></li>
                          </ul>
                          <a href="#" title="" class="purple-skin">جواب</a> </div>
                      </div>
                    </li>
                    <li>
                      <div class="cmt-prs"> <img src="images/resource/cmt3.jpg" alt="" />
                        <div class="cmt-dtl">
                          <h2><a href="#" title=""> علی سحرابی</a></h2>
                          <span> طراحی زندگی منه ، باهام همراه شو </span>
                          <p>همینطوی تا ماه بالا برو ، تو میتونی !</p>
                          <ul class="pst-rt">
                            <li><a href="#" title=""><i class="flaticon-smile"></i></a></li>
                            <li><a href="#" title=""><i class="flaticon-meh-face-emoticon"></i></a></li>
                            <li><a href="#" title=""><i class="flaticon-frown"></i></a></li>
                          </ul>
                          <a href="#" title="" class="purple-skin">جواب</a> </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="tcktng-itm">
                  <h2><a href="#" title="">ایده پردازان</a></h2>
                  <ul class="snd-inf">
                    <li>17:00</li>
                    <li>21 مهر ، 1400</li>
                    <li>صبح</li>
                  </ul>
                  <p>رم یکی از مهم‌ترین بخش‌های کامپیوتر محسوب می‌شود و به زبان بسیار ساده به عنوان حافظه‌ی کوتاه‌مدت سیستم انجام وظیفه می‌کند. هرچقدر رم سریع‌تر و بهتر باشد، در زمینه‌ی چندوظیفگی امکانات بیشتری را عملی می‌کند و به همین خاطر اگر رم کامپیوتر به‌خوبی بهینه‌سازی شده باشد، می‌توانید از حداکثر توان آن بهره ببرید.</p>
                  <ul class="cmt-mta">
                    <li><i class="fa fa-heart"></i> <a href="#" title="">30  لایک</a></li>
                    <li><i class="fa fa-comment"></i> <a href="#" title=""> 2 نظر </a></li>
                    <li><i class="fa fa-share"></i> <a href="#" title=""> 2 اشتراک گذاری </a></li>
                  </ul>
                  <span class="tgl-icn"><i class="fa fa-chevron-down "></i></span>
                  <ul class="cmt-thrd">
                    <li>
                      <div class="cmt-prs"> <img src="images/resource/cmt2.jpg" alt="" />
                        <div class="cmt-dtl">
                          <h2><a href="#" title=""> رضا رحمانی</a></h2>
                          <span> طراحی زندگی منه ، باهام همراه شو </span>
                          <p> تبریک به تیم وینکو! </p>
                          <ul class="pst-rt">
                            <li><a href="#" title=""><i class="flaticon-smile"></i></a></li>
                            <li><a href="#" title=""><i class="flaticon-meh-face-emoticon"></i></a></li>
                            <li><a href="#" title=""><i class="flaticon-frown"></i></a></li>
                          </ul>
                          <a href="#" title="" class="purple-skin">جواب</a> </div>
                      </div>
                    </li>
                    <li>
                      <div class="cmt-prs"> <img src="images/resource/cmt3.jpg" alt="" />
                        <div class="cmt-dtl">
                          <h2><a href="#" title=""> علی سحرابی</a></h2>
                          <span> طراحی زندگی منه ، باهام همراه شو </span>
                          <p>همینطوی تا ماه بالا برو ، تو میتونی !</p>
                          <ul class="pst-rt">
                            <li><a href="#" title=""><i class="flaticon-smile"></i></a></li>
                            <li><a href="#" title=""><i class="flaticon-meh-face-emoticon"></i></a></li>
                            <li><a href="#" title=""><i class="flaticon-frown"></i></a></li>
                          </ul>
                          <a href="#" title="" class="purple-skin">جواب</a> </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="tcktng-itm">
                  <h2><a href="#" title="">ایده پردازان</a></h2>
                  <ul class="snd-inf">
                    <li>17:00</li>
                    <li>21 مهر ، 1400</li>
                    <li>صبح</li>
                  </ul>
                  <p>اون در مقابل، ویژگی‌های شاخص دانشمندان رو در خودش حفظ کرده. اون صبور و فهیمه و با داشتن چشم‌انداز و استراتژی، ارزش برنامه‌ریزی در درازمدت رو درک می‌کنه. مرکل شخصیتی منطقی و تجربی داره و به‌دنبال ایجاد همکاری و مشارکته.</p>
                  <ul class="cmt-mta">
                    <li><i class="fa fa-heart"></i> <a href="#" title="">30  لایک</a></li>
                    <li><i class="fa fa-comment"></i> <a href="#" title=""> 2 نظر </a></li>
                    <li><i class="fa fa-share"></i> <a href="#" title=""> 2 اشتراک گذاری </a></li>
                  </ul>
                  <span class="tgl-icn"><i class="fa fa-chevron-down "></i></span>
                  <ul class="cmt-thrd">
                    <li>
                      <div class="cmt-prs"> <img src="images/resource/cmt2.jpg" alt="" />
                        <div class="cmt-dtl">
                          <h2><a href="#" title=""> رضا رحمانی</a></h2>
                          <span> طراحی زندگی منه ، باهام همراه شو </span>
                          <p> تبریک به تیم وینکو! </p>
                          <ul class="pst-rt">
                            <li><a href="#" title=""><i class="flaticon-smile"></i></a></li>
                            <li><a href="#" title=""><i class="flaticon-meh-face-emoticon"></i></a></li>
                            <li><a href="#" title=""><i class="flaticon-frown"></i></a></li>
                          </ul>
                          <a href="#" title="" class="purple-skin">جواب</a> </div>
                      </div>
                    </li>
                    <li>
                      <div class="cmt-prs"> <img src="images/resource/cmt3.jpg" alt="" />
                        <div class="cmt-dtl">
                          <h2><a href="#" title=""> علی سحرابی</a></h2>
                          <span> طراحی زندگی منه ، باهام همراه شو </span>
                          <p>همینطوی تا ماه بالا برو ، تو میتونی !</p>
                          <ul class="pst-rt">
                            <li><a href="#" title=""><i class="flaticon-smile"></i></a></li>
                            <li><a href="#" title=""><i class="flaticon-meh-face-emoticon"></i></a></li>
                            <li><a href="#" title=""><i class="flaticon-frown"></i></a></li>
                          </ul>
                          <a href="#" title="" class="purple-skin">جواب</a> </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Panel Body --> 
          </div>
          <!-- User panel --> 
        </div>
        <!-- Profile Sec --> 
      </div>
    </div>
  </div>
  <!-- Panel Content -->
  
  <footer>
    <div class="container">
      <p>© وینکو .ساخته شده با <i class="fa fa-heart"></i> توسط آرزو حسینی </p>
      <ul>
        <li><a href="#/" title="">پیشخوان</a></li>
        <li><a href="#/" title="">ابزارها</a></li>
        <li><a href="#/" title=""> درباره ما </a></li>
        <li><a href="#/" title=""> ارتباط با ما </a></li>
      </ul>
    </div>
  </footer>
</div>
<!-- Panel Layout -->

<div class="popup-wrap nti-rdrt-pst"> <span class="pp-cls"></span>
  <div class="poup-innr">
    <div class="scrl">
      <div class="user-activity">
        <div class="who-post-this"> <span><img src="images/resource/user.jpg" alt="" /></span>
          <div class="who-post-detail">
            <h3><a href="#" title="">آرزو حسینی<i class="poster-status online"></i></a></h3>
            <span><a href="#" title="">آرزو حسینی</a> ارسال شده از <a href="#" title=""> آلبوم زیبایی </a></span> <a href="#" title="" class="lnk">کاربردی ترین ترفندهای دخترونه رو توی این پست براتون آماده کردم امیدوارم ببینین و ازشون استفاده کنید  ! </a>
            <div class="pst-shr-inf"> <i> 2 دقیقه پیش </i>
              <div class="slct-whr-pst"> <span><i class="fa fa-lock"></i> فقط من </span>
                <ul>
                  <li><i class="fa fa-lock"></i> فقط من </li>
                  <li><i class="fa fa-globe"></i> عمومی </li>
                  <li><i class="fa fa-users"></i> دوستان </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="post-content">
          <div class="pst-frmt"> <a href="#" title=""><img src="images/resource/pst-big-img1.jpg" alt="" /></a>
            <div class="pst-inf">
              <h2><a href="#" title="">لباس های خاص و تک برای هر مراسمی که بخوای </a></h2>
              <p>همه اين كاراي خوشكل و جذابي كه ميبينيد از كالكشن ريحانه عباسي هستش كه انواع مختلف تدي هاي عروسكي روموجود دارن و كاراشون همه مزون دوز آماده ميشن و ...</p>
              <span>خانه مد</span> </div>
          </div>
          <div class="cmnts-liks"> <a href="#" title="" class="viw-prv-cmt"> دیدن نظرات قبلی </a> <a href="#" title="" class="lks">25 لایک</a> <a href="#" title="" class="cmts">30 نظر</a> </div>
        </div>
        <div class="comment-form">
          <ul class="comments-thread">
            <li>
              <div class="comment"> <img class="comment-thumb" src="images/resource/comment1.jpg" alt="" />
                <div class="comment-detail">
                  <h2><a href="#" title="">علیرضا </a></h2>
                  <p>چه خفن! آفرین کارشون حرف نداره .</p>
                  <ul class="cmnt-meta">
                    <li><a href="#" title="">لایک</a></li>
                    <li><a href="#" title="">جواب</a></li>
                    <li class="cmt-tm"> 15 دقیقه قبل </li>
                  </ul>
                  <div class="cmt-opt"> <i class="fa fa-angle-down"></i>
                    <ul>
                      <li><a href="#" title="">حذف</a></li>
                      <li><a href="#" title="">ویرایش</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="comment"> <img class="comment-thumb" src="images/resource/comment2.jpg" alt="" />
                <div class="comment-detail">
                  <h2><a href="#" title="">مهدی رفیع</a></h2>
                  <p>چه خفن! آفرین کارشون حرف نداره .</p>
                  <ul class="cmnt-meta">
                    <li><a href="#" title="">لایک</a></li>
                    <li><a href="#" title="">جواب</a></li>
                    <li class="cmt-tm"> 10 دقیقه قبل </li>
                  </ul>
                  <div class="cmt-opt"> <i class="fa fa-angle-down"></i>
                    <ul>
                      <li><a href="#" title="">حذف</a></li>
                      <li><a href="#" title="">ویرایش</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <ul class="sub-comment">
                <li>
                  <div class="comment"> <img class="comment-thumb" src="images/resource/comment3.jpg" alt="" />
                    <div class="comment-detail">
                      <h2><a href="#" title=""> حمید محرابی</a></h2>
                      <p>چه خفن! آفرین کارشون حرف نداره .</p>
                      <ul class="cmnt-meta">
                        <li><a href="#" title="">لایک</a></li>
                        <li><a href="#" title="">جواب</a></li>
                        <li class="cmt-tm"> 15 دقیقه قبل </li>
                      </ul>
                      <div class="cmt-opt"> <i class="fa fa-angle-down"></i>
                        <ul>
                          <li><a href="#" title="">حذف</a></li>
                          <li><a href="#" title="">ویرایش</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="comment"> <img class="comment-thumb" src="images/resource/comment4.jpg" alt="" />
                <div class="comment-detail">
                  <h2><a href="#" title=""> رامین حسنی</a></h2>
                  <p>چه خفن! آفرین کارشون حرف نداره .</p>
                  <ul class="cmnt-meta">
                    <li><a href="#" title="">لایک</a></li>
                    <li><a href="#" title="">جواب</a></li>
                    <li class="cmt-tm"> 10 دقیقه قبل </li>
                  </ul>
                  <div class="cmt-opt"> <i class="fa fa-angle-down"></i>
                    <ul>
                      <li><a href="#" title="">حذف</a></li>
                      <li><a href="#" title="">ویرایش</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="comment"> <img class="comment-thumb" src="images/resource/comment5.jpg" alt="" />
                <div class="comment-detail">
                  <h2><a href="#" title=""> خسرو مرادی</a></h2>
                  <p>چه خفن! آفرین کارشون حرف نداره .</p>
                  <ul class="cmnt-meta">
                    <li><a href="#" title="">لایک</a></li>
                    <li><a href="#" title="">جواب</a></li>
                    <li class="cmt-tm"> 10 دقیقه قبل </li>
                  </ul>
                  <div class="cmt-opt"> <i class="fa fa-angle-down"></i>
                    <ul>
                      <li><a href="#" title="">حذف</a></li>
                      <li><a href="#" title="">ویرایش</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <form>
            <textarea placeholder="نظرت رو بنویس"></textarea>
          </form>
          <span><i class="fa fa-thumbs-o-up"></i> لایک</span> <span><i class="fa fa-comment-o"></i> نظرات </span> <a href="#" title="" class="purple-skin"> ارسال</a>
          <ul class="pst-rt">
            <li><a href="#" title=""><i class="flaticon-smile"></i></a></li>
            <li><a href="#" title=""><i class="flaticon-meh-face-emoticon"></i></a></li>
            <li><a href="#" title=""><i class="flaticon-frown"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Vendor: Javascripts --> 
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/popperjs-bootstrap.js"></script> 

<!-- Our Website Javascripts --> 
<script src="js/apps.js"></script> 
<script src="js/isotope-int.js"></script> 
<script src="js/main.js"></script>
</body>


</html>
