<!DOCTYPE html>
<html dir="rtl">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Any type of social media website can be built like, facebook, twitter, vk with friendzone social media toolkit template which is a responsive HTml5 template for all friends." />
	<meta name="keywords" content="Winku, olympus, friend finder, social media toolkit, responsive social media theme, social media wordpress" />
	<title>شبکه اجتماعی وینکو</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> 
    

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>
<body>

<div class="theme-layout">
	
	<section>
		<div class="gap no-gap bluesh high-opacity">
			<div class="bg-image" style="background-image: url(images/sec-bg1.jpg)"></div>
			<div class="social-area">
				<div class="logo">
					<a href="#" title=""><img src="images/logo.png" alt=""></a>
				</div>
				<div class="sharing">
					<ul class="social-media">
						<li><a href="#" title=""><i class="fa fa-facebook-square"></i></a></li>
						<li><a href="#" title=""><i class="fa fa-twitter-square"></i></a></li>
						<li><a href="#" title=""><i class="fa fa-google-plus-square"></i></a></li>
						<li><a href="#" title=""><i class="fa fa-instagram"></i></a></li>
					</ul>
					<a href="https://www.rtl-theme.com/author/arezo-h/" title="" class="main-btn">خرید قالب</a>
				</div>
			</div>
			<div class="section-meta">
				<h2>وینکو</h2>
				<span>یک شبکه اجتماعی کامل به همراه قالب مدیریت ، فروشگاهی و شرکتی</span>
				<p>
					100% ریسپانسیو و رتینا که بر روی تمام نمایشگرها به درستی کار میکنه، و ما سعی کردیم تمام امکاناتی رو که ممکنه برای ساخت بهترین شبکه اجتماعی نیاز داشته باشید در این قالب براتون فراهم کنیم ! مواردی مثل صفحات پروفایل، فید خبری، گروه های دوستان، آمار و نمودارها، انجمن ها، تقویم رویدادها، پخش کننده کامل موسیقی ، آیکن های منحصر به فرد و بسیاری موارد دیگر! به راحتی میتونید این قالب رو سفارشی کنید و ازش لذت ببرید!
				</p>
				<figure>
					<img src="images/mock-up1.png" alt="">
				</figure>
			</div>
		</div>	
	</section>
	
	<section>
		<div class="gap gray-bg">
			<div class="container">
				<div class="row remove-ext-btom">
					<div class="col-lg-12">
						<div class="main-title text-center">
							<h2>دموهای جذاب وینکو</h2>
							<span>حتمااا تم های جذاب و کاربرپسند قالب وینکو رو بررسی کن تا میزان کاربردی بودنش رو حس کنی ! </span>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-10">
						<div class="row more-padding">
							<div class="col-lg-4">
								<div class="thumbnail-classic-wrapp">
									<div class="thumbnail-classic"> 
										<a href="winku-light/index.html" class="abs-lnk" target="_blank"></a>
										<img src="images/light.png" class="thumbnail-classic-img" alt="قالب وینکو" />
									</div>
									<h3>تم روشن</h3>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="thumbnail-classic-wrapp">
									<div class="thumbnail-classic"> 
										<a href="winku-dark/index.html" class="abs-lnk" target="_blank"></a>
										<img src="images/dark.png" class="thumbnail-classic-img" alt="قالب وینکو" />
									</div>
									<h3>تم تیره</h3>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="thumbnail-classic-wrapp">
									
									<div class="thumbnail-classic"> 
										<a href="winku-ltr/index.html" class="abs-lnk" target="_blank"></a>
										<img src="images/ltr.png" class="thumbnail-classic-img" alt="قالب وینکو" />
									</div>
									<h3>نسخه چپ چین</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="main-title text-center">
							<h2>صفحات متفاوت وینکو</h2>
							<span>با بررسی صفحات و ویژگی های متفاوت وینکو متوجه کااامل و جامع بودن این قالب و ریزبینی طراحیش میشی !</span>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".2s">
							<a href="winku-light/time-line.html" title="" target="_blank"><img src="images/timeline.jpg" alt=""></a>
							<h3><a href="winku-light/time-line.html" title="" target="_blank">تایم لاین</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".2s">
							<a href="winku-light/index2.html" title="" target="_blank"><img src="images/Home-social-new.jpg" alt=""></a>
							<h3><a href="winku-light/index2.html" title="" target="_blank">تایم لاین با نوار ابزار</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".2s">
							<a href="winku-light/social-post-single.html" title="" target="_blank"><img src="images/social-single.jpg" alt=""></a>
							<h3><a href="winku-light/social-post-single.html" title="" target="_blank">جزئیات پست اجتماعی</a></h3>
							<span>جدید</span>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".3s">
							<a href="winku-light/timeline-friends.html" title="" target="_blank"><img src="images/timeline-friends.jpg" alt=""></a>
							<h3><a href="winku-light/timeline-friends.html" title="" target="_blank">تایم لاین دوستان</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".4s">
							<a href="winku-light/timeline-groups.html" title="" target="_blank"><img src="images/timeline-groups.jpg" alt=""></a>
							<h3><a href="winku-light/timeline-groups.html" title="" target="_blank">تایم لاین گروه ها</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/timeline-pages.html" title="" target="_blank"><img src="images/timeline-pages.jpg" alt=""></a>
							<h3><a href="winku-light/timeline-pages.html" title="" target="_blank">تایم لاین صفحات</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/timeline-photos.html" title="" target="_blank"><img src="images/photos.jpg" alt=""></a>
							<h3><a href="winku-light/timeline-photos.html" title="" target="_blank">تایم لاین تصاویر</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/timeline-videos.html" title="" target="_blank"><img src="images/photos1.jpg" alt=""></a>
							<h3><a href="winku-light/timeline-videos.html" title="" target="_blank">تایم لاین فیلم ها</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/404.html" title="" target="_blank"><img src="images/404.jpg" alt=""></a>
							<h3><a href="winku-light/404.html" title="" target="_blank">صفحه خطای 404</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/landing.html" title="" target="_blank"><img src="images/landing.jpg" alt=""></a>
							<h3><a href="#" title="">صفحه ورود / ثبت نام</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/logout.html" title="" target="_blank"><img src="images/logout.jpg" alt=""></a>
							<h3><a href="winku-light/logout.html" title="">صفحه خروج</a></h3>
							<span>جدید</span>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/about.html" title="" target="_blank"><img src="images/about.jpg" alt=""></a>
							<h3><a href="winku-light/about.html" title="" target="_blank">درباره ما</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/contact.html" title="" target="_blank"><img src="images/contact.jpg" alt=""></a>
							<h3><a href="winku-light/contact.html" title="" target="_blank">تماس با ما</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/create-fav-page.html" title="" target="_blank"><img src="images/create-page.jpg" alt=""></a>
							<h3><a href="winku-light/create-fav-page.html" title="" target="_blank">ایجاد صفحه علاقه مندی ها</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/edit-account-setting.html" title="" target="_blank"><img src="images/edit-account.jpg" alt=""></a>
							<h3><a href="winku-light/edit-account-setting.html" title="" target="_blank">ویرایش حساب کاربری</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/edit-interest.html" title="" target="_blank"><img src="images/edit-interest.jpg" alt=""></a>
							<h3><a href="winku-light/edit-interest.html" title="" target="_blank">ویرایش علاقه مندی ها</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/edit-password.html" title="" target="_blank"><img src="images/edit-password.jpg" alt=""></a>
							<h3><a href="winku-light/edit-password.html" title="" target="_blank">ویرایش رمز عبور</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/edit-profile-basic.html" title="" target="_blank"><img src="images/edit-profile.jpg" alt=""></a>
							<h3><a href="winku-light/edit-profile-basic.html" title="" target="_blank">ویرایش پروفایل اصلی</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/edit-work-eductation.html" title="" target="_blank"><img src="images/edit-work.jpg" alt=""></a>
							<h3><a href="winku-light/edit-work-eductation.html" title="" target="_blank">ویرایش تحصیلات و شغل</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/faq.html" title="" target="_blank"><img src="images/faq.jpg" alt=""></a>
							<h3><a href="winku-light/faq.html" title="" target="_blank">سوالات متداول</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/fav-page.html" title="" target="_blank"><img src="images/fav-page.jpg" alt=""></a>
							<h3><a href="winku-light/fav-page.html" title="" target="_blank">علاقه مندی ها</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/groups.html" title="" target="_blank"><img src="images/groups-search.jpg" alt=""></a>
							<h3><a href="winku-light/groups.html" title="" target="_blank">جستجوی گروه ها</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/insights.html" title="" target="_blank"><img src="images/insigts.jpg" alt=""></a>
							<h3><a href="winku-light/insights.html" title="" target="_blank">آمار و ارقام</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/knowledge-base.html" title="" target="_blank"><img src="images/knowledge-base.jpg" alt=""></a>
							<h3><a href="winku-light/knowledge-base.html" title="" target="_blank">پایگاه اطلاعات</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/messages.html" title="" target="_blank"><img src="images/messages.jpg" alt=""></a>
							<h3><a href="winku-light/messages.html" title="" target="_blank">پیام ها</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/inbox.html" title="" target="_blank"><img src="images/inbox.jpg" alt=""></a>
							<h3><a href="winku-light/inbox.html" title="" target="_blank">صندوق ورودی</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/newsfeed.html" title="" target="_blank"><img src="images/newsfeed.jpg" alt=""></a>
							<h3><a href="winku-light/newsfeed.html" title="" target="_blank">فیدهای خبری</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/notifications.html" title="" target="_blank"><img src="images/notifictions.jpg" alt=""></a>
							<h3><a href="winku-light/notifications.html" title="" target="_blank"> اعلان ها </a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/page-likers.html" title="" target="_blank"><img src="images/page-llikers.jpg" alt=""></a>
							<h3><a href="winku-light/page-likers.html" title="" target="_blank">لایک کننده ها </a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/people-nearby.html" title="" target="_blank"><img src="images/people-nearby.jpg" alt=""></a>
							<h3><a href="winku-light/people-nearby.html" title="" target="_blank">افراد نزدیک</a></h3>
						</div>
					</div>
					<div class="col-lg-3 col-sm-4">
						<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
							<a href="winku-light/widgets.html" title="" target="_blank"><img src="images/widget.jpg" alt=""></a>
							<h3><a href="winku-light/widgets.html" title="" target="_blank">ویجت ها</a></h3>
						</div>
					</div>
					<div class="gap">
						<div class="row remove-ext-60">
							<div class="col-lg-12">
								<div class="main-title text-center">
									<h2>صفحات شرکتی و فروشگاهی</h2>
									<span>در قالب وینکو صفحات شرکتی جدید به همراه صفحات انجمن ، پرسش و پاسخ و پشتیبانی کامل برای فروشگاه و هر آنچه برای ایجاد یک قالب شرکتی یا فروشگاهی لازم داری در نظر گرفته شده تا یه قالب کامل و همه منظوره برای شما بسازه </span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/index-company.html" title="" target="_blank"><img src="images/c-home.jpg" alt=""></a>
									<h3><a href="winku-light/index-company.html" title="" target="_blank">صفحه اصلی شرکت</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/about-company.html" title="" target="_blank"><img src="images/c-about.jpg" alt=""></a>
									<h3><a href="winku-light/about-company.html" title="" target="_blank">درباره ما</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/contact-branches.html" title="" target="_blank"><img src="images/c-contact.jpg" alt=""></a>
									<h3><a href="winku-light/contact-branches.html" title="" target="_blank">تماس با ما</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/404-2.html" title="" target="_blank"><img src="images/c-404.jpg" alt=""></a>
									<h3><a href="winku-light/404-2.html" title="" target="_blank">صفحه خطای 404</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/shop.html" title="" target="_blank"><img src="images/c-shop.jpg" alt=""></a>
									<h3><a href="winku-light/shop.html" title="" target="_blank">خرید محصولات</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/shop-masonry.html" title="" target="_blank"><img src="images/c-shop-masonry.jpg" alt=""></a>
									<h3><a href="winku-light/shop-masonry.html" title="" target="_blank">محصول با مدل ماسونری</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/shop-single.html" title="" target="_blank"><img src="images/c-shop-detail.jpg" alt=""></a>
									<h3><a href="winku-light/shop-single.html" title="" target="_blank"> اطلاعات محصول</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/shop-cart.html" title="" target="_blank"><img src="images/c-shop-cart.jpg" alt=""></a>
									<h3><a href="winku-light/shop-cart.html" title="" target="_blank">سبد خرید</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/shop-checkout.html" title="" target="_blank"><img src="images/c-shop-checkout.jpg" alt=""></a>
									<h3><a href="winku-light/shop-checkout.html" title="" target="_blank">صورت حساب</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/blog-grid-wo-sidebar.html" title="" target="_blank"><img src="images/c-blog.jpg" alt=""></a>
									<h3><a href="winku-light/blog-grid-wo-sidebar.html" title="" target="_blank">وبلاگ</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/blog-grid-left-sidebar.html" title="" target="_blank"><img src="images/c-blog-L-sidebar.jpg" alt=""></a>
									<h3><a href="winku-light/blog-grid-left-sidebar.html" title="" target="_blank"> وبلاگ با سایدبار راست </a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/blog-grid-right-sidebar.html" title="" target="_blank"><img src="images/c-blog-R-sidebar.jpg" alt=""></a>
									<h3><a href="winku-light/blog-grid-right-sidebar.html" title="" target="_blank"> وبلاگ با سایدبار چپ </a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/blog-masonry.html" title="" target="_blank"><img src="images/c-blog-masonry.jpg" alt=""></a>
									<h3><a href="winku-light/blog-masonry.html" title="" target="_blank"> وبلاگ با مدل ماسونری </a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/blog-list-wo-sidebar.html" title="" target="_blank"><img src="images/c-blog-list.jpg" alt=""></a>
									<h3><a href="winku-light/blog-list-wo-sidebar.html" title="" target="_blank"> وبلاگ با مدل لیست</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/blog-list-right-sidebar.html" title="" target="_blank"><img src="images/c-blog-list-R-sidebar.jpg" alt=""></a>
									<h3><a href="winku-light/blog-list-right-sidebar.html" title="" target="_blank"> وبلاگ  لیستی با سایدبار راست </a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/blog-list-left-sidebar.html" title="" target="_blank"><img src="images/c-blog-list-L-sidebar.jpg" alt=""></a>
									<h3><a href="winku-light/blog-list-left-sidebar.html" title="" target="_blank"> وبلاگ  لیستی با سایدبار چپ </a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/blog-detail.html" title="" target="_blank"><img src="images/c-blog-detail.jpg" alt=""></a>
									<h3><a href="winku-light/blog-detail.html" title="" target="_blank">جزئیات وبلاگ</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/portfolio-2colm.html" title="" target="_blank"><img src="images/c-portfolio-2col.jpg" alt=""></a>
									<h3><a href="winku-light/portfolio-2colm.html" title="" target="_blank"> نمونه کار 2 ستونه</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/portfolio-3colm.html" title="" target="_blank"><img src="images/c-portfolio-3col.jpg" alt=""></a>
									<h3><a href="winku-light/portfolio-3colm.html" title="" target="_blank"> نمونه کار 3 ستونه</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/portfolio-4colm.html" title="" target="_blank"><img src="images/c-portfolio-4col.jpg" alt=""></a>
									<h3><a href="winku-light/portfolio-4colm.html" title="" target="_blank"> نمونه کار 4 ستونه</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/forum.html" title="" target="_blank"><img src="images/c-forum.jpg" alt=""></a>
									<h3><a href="winku-light/forum.html" title="" target="_blank">صفحه انجمن</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/forums-category.html" title="" target="_blank"><img src="images/c-forum-category.jpg" alt=""></a>
									<h3><a href="winku-light/forums-category.html" title="" target="_blank"> دسته بندی  انجمن </a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/forum-open-topic.html" title="" target="_blank"><img src="images/c-forum-open-topic.jpg" alt=""></a>
									<h3><a href="winku-light/forum-open-topic.html" title="" target="_blank"> انجمن با تاپیک آزاد </a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/forum-create-topic.html" title="" target="_blank"><img src="images/c-forum-create-topic.jpg" alt=""></a>
									<h3><a href="winku-light/forum-create-topic.html" title="" target="_blank">ایجاد تاپیک جدید </a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/support-and-help.html" title="" target="_blank"><img src="images/c-help.jpg" alt=""></a>
									<h3><a href="#" title="" target="_blank"> پشتیبانی و راهنمایی </a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/support-and-help-detail.html" title="" target="_blank"><img src="images/c-help-detail.jpg" alt=""></a>
									<h3><a href="winku-light/support-and-help-detail.html" title="" target="_blank"> جزئیات پشتیبانی  </a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/support-and-help-search-result.html" title="" target="_blank"><img src="images/c-help-result.jpg" alt=""></a>
									<h3><a href="winku-light/support-and-help-search-result.html" title="" target="_blank">نتایج جستجوی سوالات</a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/careers.html" title="" target="_blank"><img src="images/c-career.jpg" alt=""></a>
									<h3><a href="winku-light/careers.html" title="" target="_blank"> مشاغل </a></h3>
									<span>جدید</span>
								</div>
							</div>
							<div class="col-lg-3 col-sm-4">
								<div class="demo-thumb wow fadeIn" data-wow-delay=".1s">
									<a href="winku-light/career-detail.html" title="" target="_blank"><img src="images/c-career-detail.jpg" alt=""></a>
									<h3><a href="winku-light/career-detail.html" title="" target="_blank"> جزئیات شغل </a></h3>
									<span>جدید</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- demos -->
	
	<section>
		<div class="gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="social-panel">
							<h2>همراه با <br> پنل مدیریت و ادمین شبکه اجتماعی وینکو </h2>
							<p>
								و در آخر پنل مدیریت شبکه اجتماعی Winku با طراحی زیبا و کاربر پسند به عنوان حسن ختام این قالب فوق العاده ، در پوشه جداگانه در بسته دانلودی اضافه شده و شما میتونی با استفاده از آن بیزینس ، دوستان اجتماعی، کاربران و بسیاری موارد دیگه رو به راحتی مدیریت کنی.</p>
							<a class="main-btn" target="_blank" title="" href="winku-admin/index-2.html">دیدن دمو</a>
						</div>
					</div>
					<div class="col-lg-5">
						<img src="images/dashboard.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>

	
	
	<footer>
    	<div class="gap gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="my-footer wow fadeIn" data-wow-delay=".3s">
                        	<a title="to top" href="#on-top"><i class="ion-chevron-up"></i></a>
                            <h2>آرزو حسینی</h2>
                            
                            <span>© تمامی حقوق محفوظ است </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	
	<!-- <a class="btn btn-buy" target="_blank" href="https://www.rtl-theme.com/author/arezo-h/">
		<span class="italy">Buy with:</span>
		<img alt="" src="images/envato_logo.png">
		<span class="price">Only $20!</span>
	</a> -->
	

	
</div>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/popperjs-bootstrap.js"></script>
	<script src="js/jquery.stickit.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/loadMoreResults.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/scrolltopcontrol.js"></script>
	<script src="js/script.js"></script>
	

</body>	


</html>