/*--- big screen ----*/
@media screen and (max-width: 1920px) and (min-width: 1600px){	

}

/*--- tablet landscape ---*/
@media screen and (max-width: 1024px){
	
	.features {
		width: 22.9%;
	}
	.inner-pages > ul li {
		width: 49.4%;
	}
	.mockups, .mockup-meta {
		width: 49.7%;
	}
	.nav-links > li {
		margin-left: 20px;
		padding-left: 0;
	}
	.feature-meta{width: 100%;}
	.featurez-box > .features:nth-last-child(2) {
	    margin-left: 0;
	}


}

@media screen and (max-width: 980px){
	p{font-size:13px;}
	.gap {padding: 70px 0;}
	.right-box > a{width: 140px;}
	
	header {
		margin-left: 0;
		margin-top: 0;
		padding: 0 15px;
		width: 100%;
	}
	.main-menu > ul > li, .main-menu > div > ul > li {
		margin-left: 35px;
	}
	header.stick {
		width: 100% !important;
	}
	.feature-area > h2 {
		font-size: 23px;
	}
	
	.heading > span {
		font-size: 25px;
	}
	.inner-pages {
		padding: 50px 70px;
	}
	.inner-pages > ul li {
		width: 49%;
	}
	.big-heading > span {
		font-size: 20px;
	}
	.big-heading > h2 {
		font-size: 50px;
	}
	.big-heading > p {
		font-size: 17px;
	}
	.big-heading > a {
		height: 40px;
		line-height: 40px;
		width: 150px;
	}
	.mockups {
		vertical-align: top;
		width: 49.5%;
	}
	.mockup-meta > h2 {
		font-size: 32px;
	}
	.mockup-meta > p {
		font-size: 15px;
	}
	.mockup-meta > span {
		font-size: 33px;
		margin-top: 30px;
	}
	.mockups, .mockup-meta {
		vertical-align: middle;
	}
	.Faq-area {
		margin-bottom: 50px;
	}	
	.hire-us > h2 {
		font-size: 26px;
	}
	.nav-links {
		text-align: left;
	}
	.nav-links > li::before {
		display: none;
	}
	.nav-links > li {
		margin-bottom: 5px;
	}
	.brands > li {
		float: left;
		margin-bottom: 21px;
		margin-right: 8px;
		width: 24.4%;
	}
	.brands > li:nth-child(4n) {
		margin-right: 0;
	}
	.features {
		padding-bottom: 20px;
		padding-left: 20px;
		padding-top: 20px;
		width: 30.5%;
	}
	.features figure {
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 0;
		width: 100%;
	}
	.feature-meta {
		width: 100%;
	}
	.main-heading > span {
		font-size: 18px;
	}
	.main-heading > h3 {
		font-size: 30px;
	}
	.btn-load-more::before{left: 35%;}
	.demos-box.text-right > a,
	.demos-box.text-left > a {
	    transform: translate(0px);
	}





}


@media screen and (max-width: 640px){
	 p{font-size:13px;}
	.gap {padding: 70px 0;}
	
	.feature-area > h2 {
		max-width: 100%;
	}
	header {
		display: none;
	}
	.features {
		width: 100%;
	}
	.heading > span {
		font-size: 20px;
	}
	.inner-pages > h2 {
		font-size: 25px;
	}
	.inner-pages {
		padding: 40px;
	}
	.inner-pages > ul li {
		width: 100%;
	}
	.big-heading > h2 {
		font-size: 34px;
	}
	.big-heading > p {
		font-size: 16px;
	}
	.mockups, .mockup-meta {
		width: 100%;
	}
	.mockups {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.theme-merits {
		margin-top: 50px;
		padding: 0 15px;
	}
	.mockup-meta > h2 {
		font-size: 24px;
	}
	.mockup-meta > p {
		font-size: 14px;
		line-height: 24px;
		max-width: 90%;
	}
	.Faq-area > h2 {
		font-size: 18px;
	}
	.Faq-area > p {
		font-size: 15px;
	}
	.main-heading > h3 {
		font-size: 27px;
	}
	.main-heading > span {
		font-size: 16px;
		margin-top: 15px;
	}
	.hire-us > h2 {
		font-size: 22px;
	}
	.hire-us > span {
		font-size: 14px;
	}
	.bottombar span, .bottombar .nav-links {
		width: 100%;
	}
	.nav-links > li {
		font-size: 11px;
		margin: 15px 1px 0 0;
	}
	.bottombar span {
		font-size: 8.5px;
	}
	.feature-area > img {
		transform: scale(0.6);
	}
	.brands {
    float: left;
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
	}
	.btn-load-more::before {
		left: 28%;
	}
	



	
}

@media screen and (max-width: 360px){
	.btn-load-more::before{
		left: 18%;
	}
}


@media screen and (max-width: 480px){
	
}

@media screen and (max-width: 320px){
}









