

@font-face {
	font-family: 'yekan';
	src        : url('../fonts/YekanBakhFaNum-Thin.eot');
	src        : url('../fonts/YekanBakhFaNum-Thin.eot') format('embedded-opentype'),
		url('../fonts/YekanBakhFaNum-Thin.woff') format('woff');
	font-weight : 100;
	font-style  : normal;
	font-display: swap;
}

@font-face {
	font-family: 'yekan';
	src        : url('../fonts/YekanBakhFaNum-Light.eot');
	src        : url('../fonts/YekanBakhFaNum-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/YekanBakhFaNum-Light.woff') format('woff');
	font-weight : 300;
	font-style  : normal;
	font-display: swap;
}

@font-face {
	font-family: 'yekan';
	src        : url('../fonts/YekanBakhFaNum-Medium.eot');
	src        : url('../fonts/YekanBakhFaNum-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/YekanBakhFaNum-Medium.woff') format('woff');
	font-weight : 500;
	font-style  : normal;
	font-display: swap;
}

@font-face {
	font-family: 'yekan';
	src        : url('../fonts/YekanBakhFaNum-Regular.eot');
	src        : url('../fonts/YekanBakhFaNum-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/YekanBakhFaNum-Regular.woff') format('woff');
	font-weight : normal;
	font-style  : normal;
	font-display: swap;
}

@font-face {
	font-family: 'yekan';
	src        : url('../fonts/YekanBakhFaNum-Bold.eot');
	src        : url('../fonts/YekanBakhFaNum-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/YekanBakhFaNum-Bold.woff') format('woff');
	font-weight : bold;
	font-style  : normal;
	font-display: swap;
}

@font-face {
	font-family: 'yekan';
	src        : url('../fonts/YekanBakhFaNum-Heavy.eot');
	src        : url('../fonts/YekanBakhFaNum-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/YekanBakhFaNum-Heavy.woff') format('woff');
	font-weight : 900;
	font-style  : normal;
	font-display: swap;
}


/*=============== 
***General Styling 
===============*/

body {
  float: right;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family:  'yekan';
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:  'yekan';
}

p {
  font-size: 16px;
  font-family:  'yekan';
  line-height: 28px;
  display: inline-block;
}

ul li,
ol li {
  font-family:  'yekan';
}


a,
a:hover,
a:focus,
a:active {
  color: inherit;
  outline: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

img {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
  width: 100%;
  float: left;
  height: 400px;
}
figure{margin:0;}
.theme-layout {
  float: left;
  position: relative;
  width: 100%;
}

.row.remove-ext-60 {
    margin-bottom: -60px;
}

.theme-layout.boxed {
  background: none repeat scroll 0 0 #FFFFFF;
  float: none;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 1230px;
  -webkit-box-shadow: 0 0 6px #747474;
  -moz-box-shadow: 0 0 6px #747474;
  -ms-box-shadow: 0 0 6px #747474;
  -o-box-shadow: 0 0 6px #747474;
  box-shadow: 0 0 6px #747474;
}

section {
  float: left;
  position: relative;
  width: 100%;
}

.gap {
  float: left;
  padding: 85px 0;
  position: relative;
  width: 100%;
}

.gap.no-gap{
  padding: 0;
}

.gap.no-top {
  padding-top: 0px;
}

.gap.no-bottom{
  padding-bottom: 0px;
}

.remove-ext-btom {
  float: left;
  width: 100%;
  margin-bottom: -60px;
}

.merged {
  margin: 0px;
  padding: 0;
}

.merged > div {
  padding: 0;
}

.row.merged > div {
  padding: 0;
}

.merged.row {
  margin: 0;
}

.merged.row > div {
  padding: 0;
}

.bg-image {
  background-position: center center;
    background-repeat: no-repeat ;
    background-size: cover;
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.parallax {
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.blackish:before,
.whitish:before,
.bluesh:before,
.redish:before{
  background: #000000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.bluesh:before {
  background: #118dcd;
}
.whitish:before {
  background: rgba(255,255,255,.9);
}
.redish:before{
	background: #e52226;	
}
.high-opacity:before {
  -webkit-opacity: .95;
  -moz-opacity: .95;
  -ms-opacity: .95;
  -o-opacity: .95;
  opacity: .95;
}

.medium-opacity:before {
  -webkit-opacity: .85;
  -moz-opacity: .85;
  -ms-opacity: .85;
  -o-opacity: .85;
  opacity: .85;
}

.low-opacity:before {
  -webkit-opacity: .65;
  -moz-opacity: .65;
  -ms-opacity: .65;
  -o-opacity: .65;
  opacity: .65;
}

.gray-bg {
  float: left;
  width: 100%;
  background: #edf2f6;
}
[type="submit"], button, html [type="button"]{
	cursor: pointer;
}
textarea {
  resize: none;
}

/*======================/
***** Home page 1 
======================*/

#topcontrol {
  background: #118dcd none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}

.section-meta {
    display: inline-block;
    text-align: center;
    width: 100%;
	padding-top: 50px;
}
.section-meta > h2 {
    color: #fff;
    font-family: 'yekan';
    font-size: 60px;
    text-transform: capitalize;
}
.section-meta span {
    color: #fff;
    display: inline-block;
    text-transform: capitalize;
    width: 100%;
	font-size: 20px;
}
.section-meta > p {
    color: #e2e2e2;
    font-size: 14px;
    line-height: 28px;
    margin-top: 25px;
    max-width: 62%;
    text-transform: capitalize;
	margin-bottom: 60px;
}

.social-area {
    display: block;
    line-height: 100px;
    padding: 0 60px;
}
.sharing {
    display: inline-block;
    float: none;
    text-align: left;
    vertical-align: middle;
    width: 50%;
	line-height: initial;
}
.logo {
    display: inline-block;
    line-height: initial;
    vertical-align: middle;
    width: 49%;
}
.social-media {
    display: inline-block;
    line-height: initial;
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 30px;
    width: 62%;
	padding-right: 0;
}
.social-media li {
    display: inline-block;
    margin-left: 5px;
}
.social-media > li a {
    color: #fff;
    display: inline-block;
    font-size: 25px;
}

a.main-btn {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    line-height: initial;
    padding: 10px 25px;
    vertical-align: super;
	border-radius: 30px;
}
.demo-thumb {
    display: inline-block;
    text-align: center;
    transition: all 0.25s linear 0s;
    width: 100%;
	margin-bottom: 60px;
  position: relative;
}

.demo-thumb > span,
.thumbnail-classic-wrapp > span {
    background: #ff5656;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    left: -10px;
    text-align: center;
    top: -15px;
    width: 40px;
}

.demo-thumb > a {
    display: inline-block;
    transition: all 0.2s linear 0s;
    width: 100%;
	box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.3);
}
.demo-thumb > a:hover {
    box-shadow: 0 0 0 #cacaca;
}
.demo-thumb img {
    display: inline-block;
    width: 100%;
}
.demo-thumb > h3 {
    color: #888da8;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin-top: 30px;
    text-transform: capitalize;
    width: 100%;
}

.main-title {
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
}
.main-title > span {
    color: #888da8;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    padding-bottom: 5px;
}
.main-title > h2 {
    color: #515365;
    display: inline-block;
    font-family: 'yekan';
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 20px;
    width: 100%;
	font-size: 38px;
}
/*--- related prducts --*/

.related-thmb {
    display: inline-block;
    padding: 12px 12px 25px;
    position: relative;
    width: 100%;
	margin-bottom: 60px;
	box-shadow: 0 0 20px 0 rgba(63, 66, 87, 0.3);
}
.related-thmb figure a {
    
    display: inline-block;
    width: 100%;
}
.prodcut-name > span {
    color: #767676;
    display: inline-block;
    font-size: 14px;
    width: 100%;
}
.prodcut-name > a {
    border-radius: 40px;
    color: #118dcd;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 20px;
    text-transform: capitalize;
}
.prodcut-name h4 {
    color: #424242;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
}
.prodcut-name {
    display: inline-block;
    width: 100%;
	margin-top: 20px;
}
.related-thmb > figure {
    border: 1px solid #eaeaea;
    padding: 10px;
}
.ribbon::before {
    border-right: 10px solid #646464;
    border-top: 16px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: -10px;
    position: absolute;
    top: 0;
    width: 7px;
}
.ribbon {
    left: 10px;
    padding: 2px 20px;
    position: absolute;
    top: -16px;
	background: #118dcd;
	line-height: initial;
}
.ribbon > span {
    color: #fff;
    font-family: 'yekan';
    font-size: 11px;
	line-height: 25px;
}
.ribbon::before {
    border-left-color: #005580;
    border-right-color: #005580;
}
/*--- footer ---*/

.my-footer > a {
    color: #fff;
    float: right;
    font-size: 30px;
    position: absolute;
    top: -126px;
}

.my-footer {
  float: left;
  text-align: center;
  width: 100%;
}

.my-footer > ul {
  float: left;
  list-style: outside none none;
  margin-bottom: 30px;
  margin-top: 5px;
  padding-left: 0;
  width: 100%;
}

.my-footer > ul li {
  display: inline;
  margin-right: 16px;
}

.my-footer > ul li a {
  color: #333;
  font-size: 30px;
}
.my-footer > h2 {
    color: #000;
    font-family: 'yekan';
    /* font-size: 50px; */
    text-transform: capitalize;
}

.my-footer > span {
  color: #777;
  float: left;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: capitalize;
  width: 100%;
}
.row.more-padding > div {
    padding: 22px;
}
/*--- moving image ---*/
.thumbnail-classic-wrapp {
    text-align: center;
	margin-bottom: 70px;
}

.thumbnail-classic-wrapp > h3 {
    color: #888da8;
    display: inline-block;
    font-size: 22px;
    margin-top: 20px;
    text-transform: capitalize;
    width: 100%;
}

.thumbnail-classic {
    box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.3);
    display: block;
    overflow: hidden;
    padding-bottom: 123%;
    position: relative;
}
.thumbnail-classic .abs-lnk {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}

.thumbnail-classic .thumbnail-classic-img {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 1.5s ease-in-out 0s;
    width: 100%;
}
.thumbnail-classic:hover .thumbnail-classic-img {
    margin-top: 100%;
    transform: translateY(-92%);
    transition: all 2s linear 0s;
}
/*carousel nave style*/
ul.owl-carousel {
  padding-left: 0;
  list-style: none;
}

.owl-prev,
.owl-next {
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.owl-next {
  left: auto;
  right: 0;
}

.owl-prev,
.owl-next {
  color: transparent;
}

.owl-prev::before,
.owl-next::before {
  /*background: #191919;*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #999;
  content: "\f104";
  display: inline-block;
  font-family: fontawesome;
  font-size: 80px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
	
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.owl-next::before {
  content: "\f105";
  left: auto;
  right: 0;
}

.owl-item > li {
  list-style: none;
}
.related-caro {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.related-caro li {
    display: inline-block;
    padding: 20px 1px;
    width: 100%;
}
.owl-next{
	margin-right: -60px;
}
.owl-prev{
	margin-left: -60px;
}
.thumbnail-classic-wrapp .whitish:before{z-index: 2;}

/*--- coming soon update section ---*/
.app-n-admin {
    float: left;
    position: relative;
    width: 100%;
}
.app-n-admin .logo-admin {
    left: 20px;
    position: absolute;
    top: 20px;
    width: auto;
}
.app-n-admin > span {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 110px;
    transform: translateX(-50%);
    width: 100%;
}
.app-n-admin h1 {
    color: #fff;
    display: inline-block;
    font-size: 34px;
    font-weight: 300;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 100%;
}
.app-n-admin > img {
    width: 100%;
}

.social-panel > span {
    border-radius: 6px;
    color: green;
    display: inline-block;
    float: right;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 4px 30px;
    position: relative;
    right: -120px;
    top: -10px;
    transform: rotate(-46deg);
    z-index: 9;
}
.social-panel > p {
    color: #777777;
    display: inline-block;
    margin-bottom: 40px;
    width: 86%;
}
.social-panel .main-btn {
    background: #118dcd;
    padding: 10px 40px;
	display: inline-block;
}
.social-panel > h2 {
    display: inline-block;
    font-size: 28px;
    margin-bottom: 15px;
    width: 100%;
}
/*--- buy button ---*/
.btn-buy {
    background: #333 none repeat scroll 0 0;
    bottom: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    color: #82b541;
    font-style: italic;
    font-weight: 400;
    padding: 6px 20px;
    position: fixed;
    left: 20px;
    z-index: 999;
}
.btn-buy:hover, .btn-buy:active, .btn-buy:focus {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: #fff;
    transition: all 1s ease 0s;
}
.btn-buy .italy {
    color: #fff;
    font-size: 13px;
    font-style: italic;
    margin-right: 5px;
}
.btn-buy .price {
    color: #82b541;
    font-size: 13px;
    font-style: normal;
    margin-left: 15px;
    position: relative;
}
.btn-buy .price::before {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    content: "";
    height: 15px;
    left: -7px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}

.social-panel {
    display: inline-block;
    padding-top: 25px;
    width: 100%;
}
